<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.moshuying">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UnitChoose" android:label="墨抒颖的示例APP">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--项目中的所有活动都应该在项目清单文件AndroidManifest.xml文件中声明-->
        <activity android:name=".MainActivity" />
        <activity android:name=".Unit2.BtnStartAnother" />
        <activity android:name=".Unit2.MyAty" />
        <activity android:name=".Unit2.Share" />
        <activity android:name=".Unit2.PredefinedOperation" />
        <activity android:name=".Unit2.JsonEdit" />
        <activity android:name=".Unit2.Auto" android:theme="@style/Theme.MaterialComponents.Dialog"/>
        <activity android:name=".Unit2.StartupMode" />
        <activity android:name=".Unit2.startupMode.SingleTop" android:launchMode="singleTop"/>
        <activity android:name=".Unit2.startupMode.SingleTask" android:launchMode="singleTask"/>
        <activity android:name=".Unit2.startupMode.SingleTaskB" android:launchMode="standard"/>
        <activity android:name=".Unit2.startupMode.SingleInstance" android:launchMode="singleInstance"/>
        <activity android:name=".Unit2.startupMode.SingleInstanceB" android:launchMode="standard"/>
        <activity android:name=".Unit2.GetUserInput" />
<!--        第三章-->
        <activity android:name=".Unit2.UserInterfaceDesign" />
        <activity android:name=".Unit3.Layout" />
        <activity android:name=".Unit3.AutoLayout" />

        <!--在AndroidManifest.xml中声明活动时候,在其Intent过滤器中可使用任意字符串作为活动的操作名称。-->
        <activity android:name=".Unit2.HideIntent">
            <intent-filter>
                <action android:name="toStartAnotherActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Unit2.InternetActivity"
            android:label="从链接启动墨抒颖的示例APP">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="example.app" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.moshuying.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_screencapture" />
        </provider>
    </application>

</manifest>